body {
    background-color: #efefef;
}
.header{
    width: 100%;
    height: 50px;
    background: #efefef;
}
.logo{
    height: 100%;
    width: 6%; 
    background: #efefef;
    display: inline-block;
    float: left;
}
.title{
    height: 100%;
    width: 64%;
    background: #efefef;


}
.search{
    height: 100%;
    width: 30%; 
    background: #efefef;

}
.line{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 60%;
    width: 1px; 
    background: #222222;
   
    text-align: center;


}
.title-text{
    text-align: center;

}
.wapper{
    width: 100%;
    height: 100%;
    text-align: center;
}
.fram-all{
    height: 100%;
    width: 90%;
    background: #ffffff;

    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    padding: 10px;
}
.text-all{
    margin-top: 20px;
    margin-bottom: 20px;
}
.h1-text{
    color: #eb2a3f;
    font-weight: 600;
    font-size: 25pt;
}
.h3-text{
    color: #313131;
    font-weight: 300;
    font-size: 17pt;
}
.container-content{
height: 100%;
width: 85%;
margin: 0 auto;

}
.content-h3{
    margin-top: 20px;
    text-align: left;
    font-size: 14pt;
    font-weight: 500;
}
/* +++++++++++ radio ++++++++++++++++ */

.radio-wapper{
    border: solid 4px #ededed;
    width: 100%;
    height: 60%;
}
.text-all-radio{
    text-align: center;

}
.all-input{
    display: inline-block;
    float: left;
}
.this-radio{
    text-align: right;
}
.text-radio{
    text-align: left;

    font-weight: 400;
    height: 10px;
}
.all-text{
    display: inline-block;
    float: left;
}
.sub-ra{

    width: 50%;
    height: 10px;
}
.sub-text-radio{

    display: inline-block;
    float: left;

    font-weight: 200;
    height: 10px;
    font-size: 9pt;

}
.radio-box{


    
}

/* +++++++++++++++ end radio +++++++++++++ */


/* ++++++++++++++++++ history ++++++++++++++++ */
.history{
    height: 100%;
    width: 50%;
    text-align: left;



}

.first-last{
    height: 100%;
    width: 100%;
    
}
.input-style{
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    width: 85%;
}
.text-rigth{
margin-left: 15%;
}
.box-first-last{
    width: 50%;
    height: 50px;
    display: inline-block;
    float: left;
}
.address{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: inline-block;
    float: left;
}
.address-style{
    width: 100%;
    border: 1px solid #d0d0d0;
    border-radius: 4px;

}
.last-text{
    width: 100%;
    height: 10px;
    font-size: 10pt;
    color: #585858;
}
.add-text{
    width: 100%;
    height: 10px;
}
.email{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: inline-block;
    float: left;
    
}

/* ++++++++++++++++++++ end history +++++++++++++++++++++ */


.location{
    height: 100%;
    width: 50%;
    text-align: left;

    display: inline-block;

    
}
.location-content-h3{

    text-align: left;
    font-size: 13pt;
    font-weight: 400;
    margin-left: 20px;
}

.this-map{
    width: 95%;
    height: 150px;
    margin-left: 20px;
    background: #d0d0d0;
}
.submit-all{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: inline-block;

}
.submit-style{
    border: 1px  #d0d0d0;
    border-radius: 25px;
    font-size: 9pt;
    padding: 5px;
    background: #a7a7a7;
    color: #fff;
    font-weight: 400;
    width: 10%;
}
.red-style{
    background: #ec2b3c;
}

.centerMarker {
    width: 60px;
    background: url(./not-in-service-center-pointer.png) no-repeat center;
    height: 60px;
    top:50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    position:  absolute;
}
.centerMarker.out {
    background: url(./not-in-service-center-pointer.png) no-repeat center;
}
.centerMarker.in {
    background: url(./in-service-center-pointer.png) no-repeat center;
}


